.formControl {
    width: 400px !important;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px !important;
}

@media (max-width : 770px){
   .formControl{
       width: 100% !important;
   }
}